body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#title {
    font-size: 2em;
    margin-bottom: 10px;
}

#current-date-time {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #555;
}

#language-toggle button,
#view-toggle button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#language-toggle button:hover,
#view-toggle button:hover {
    background-color: #0056b3;
}

#language-toggle, #view-toggle {
    margin-bottom: 15px;
}

table.prayer-times {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.prayer-times th, 
table.prayer-times td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1em;
}

table.prayer-times th {
    background-color: #007bff;
    color: white;
}

table.prayer-times td {
    background-color: #f9f9f9;
}

table.prayer-times tr.highlight {
    background-color: #99ccff;
    font-weight: bold;
}

body[lang="ar"] {
    direction: rtl;
    text-align: right;
}

body[lang="ar"] table.prayer-times th, 
body[lang="ar"] table.prayer-times td {
    text-align: right;
}

.prayer-cards {
    display: none;
}


@media screen and (max-width: 768px) {
    .prayer-times {
        display: none; 
    }

    .prayer-cards {
        display: block; 
    }

    .prayer-card.highlight {
        background-color: #99ccff;
        border-color: #0056b3;
        box-shadow: 0 0 10px rgba(0, 86, 179, 0.2);
    }
    

    .prayer-card {
        background-color: white;
        margin-bottom: 10px;
        padding: 15px;
        border: 1px solid #ddd;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .prayer-card div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .prayer-card div label {
        font-weight: bold;
    }
}

